@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 0% 100%;
    --foreground: 175 0% 10%;
    --card: 200 0% 100%;
    --card-foreground: 175 0% 15%;
    --popover: 200 0% 100%;
    --popover-foreground: 175 95% 10%;
    --primary: 175 80% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 137 10% 95%;
    --muted-foreground: 175 0% 40%;
    --accent: 137 10% 90%;
    --accent-foreground: 175 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 200 0% 100%;
    --border: 175 20% 82%;
    --input: 175 20% 50%;
    --ring: 175 80% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 175 5% 5%;
    --foreground: 200 0% 100%;
    --card: 175 0% 10%;
    --card-foreground: 200 0% 100%;
    --popover: 175 10% 5%;
    --popover-foreground: 200 0% 100%;
    --primary: 175 80% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 137 10% 25%;
    --muted-foreground: 175 0% 65%;
    --accent: 137 10% 25%;
    --accent-foreground: 175 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 200 0% 100%;
    --border: 175 20% 50%;
    --input: 175 20% 50%;
    --ring: 175 80% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* width */
::-webkit-scrollbar {
  @apply h-[2px] w-[2px] sm:h-[4px] sm:w-[4px];
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-accent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-[5px] bg-primary/30;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.str-chat {
  --str-chat__font-family: inherit;
  --str-chat__primary-color: theme(colors.primary.DEFAULT);
  --str-chat__on-primary-color: theme(colors.primary.foreground);
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__background-color: theme(colors.card.DEFAULT);
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT);
  --str-chat__message-textarea-background-color: theme(colors.background);
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT);
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}

.str-chat__channel-header {
  width: 100%;
}

.str-chat__channel-preview-end,
.str-chat__channel-preview-messenger--name {
  @apply text-sm;
}
